
/****************************
 ****** BASE STYLES *********
 ****************************/

body {
  font-family: "Courier", Helvetica, sans-serif;
  padding-top: 10px;
  font-size: 16px;
}

h1 {
  font-size: 1.7em;
  line-height: 2em;
  margin-bottom: 30px;
}

h4 {
  font-size: .8em;
  color: #333;
  font-weight: bold;
  margin: 20px 0px;
}

p {
  line-height: 1.8em;
  font-size: .8em;
  margin: 0 0 25px;
}

a {
  font-size: .9em;
}

img {
  width: 100%;
}


/***************************
 ********* CUSTOM **********
 ***************************/

#main-nav,
#sub-nav {
  margin-left: -14px;
}

#main-container {
  position: relative;
}

#content {
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;
}

#content.active {
  visibility: visible;
  opacity: 1;
  /**
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  **/
  -moz-transition: opacity 400ms ease-out;
  -o-transition: opacity 400ms ease-out;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

@media only screen and (max-width : 768px) {

  #main-navbar {
    display: none;
  }

  #content {
    margin-top: 60px;
  }

}
/************************
 ******* HOME VIEW ******
 ************************/

#contact {
  width: 100%;
  font-size: 1.6em;
}

#contact h4 {
  margin-top: 40px;
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

@media only screen and (max-width: 768px) {

}



/************************
 ******* HOME VIEW ******
 ************************/

#home {
  font-size: 2em;
}

#home > .wrapper {
  /**
  position: absolute;
  bottom: 40%;
  **/
}

#home .typed-text {
  font-weight: bold;
}

@media only screen and (max-width : 768px) {

  #home {
    font-size: 1.6em;
  }

}

/*****************************
 ******* STICKY FOOTER *******
 *****************************/

#main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

#content {
  flex:1;
}

/****************************
 **** OVERRIDE BOOTSTRAP ****
 ****************************/

a, a:active, a:hover, a:focus {
  color: #333;
}

.nav> li > a:focus, 
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.nav-pills > li > a {
  color: #999;
  /**
  padding: 0 1px;
  margin-left: 50px;
  **/
}

.nav-pills > li:first-child a {
  /**
  margin-left: 15px;
  **/
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
  color: #333;
  background-color: transparent;
  font-weight: bold;
  border-radius: 0;
}

@media only screen and (max-width : 970px) {

}

/**********************
 ******* HEADER *******
 **********************/

#header {
  padding-top: 10px;
}

#header h1 {
  margin-top: 0;
  line-height: .9em;
}

#header .nav {
  margin-left: -14px;
}

#header .lang-selector {
  margin-top: -12px;
}

@media only screen and (max-width : 970px) {

}

@media only screen and (max-width : 768px) {

  #header {
    display: none;
  }

}

/****************************
 *********** NAVS ***********
 ****************************/

.navbar-default {
  background-color: #FFF;
}

/****************************
 ****** OVERLAY MENU  *******
 ****************************/

#overlay-menu {
  padding: 5px 20px;
  text-align: left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #000;

  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-100%) translateZ(0);
  -moz-transform: translateY(-100%) translateZ(0);
  -ms-transform: translateY(-100%) translateZ(0);
  -o-transform: translateY(-100%) translateZ(0);
  transform: translateY(-100%) translateZ(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

#overlay-menu.active {
  z-index: 9999;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0) translateZ(0);
  -moz-transform: translateY(0) translateZ(0);
  -ms-transform: translateY(0) translateZ(0);
  -o-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0);
}

#overlay-menu .wrapper {
  width: 100%;
  height: 100%;
  /**
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  **/

/**
  display: -ms-flexbox;
  display: -webkit-flex;
  **/

  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

#overlay-menu .container {
  width: 100%;
}

#overlay-menu button.close{
  font-family: initial;
  color: #FFF;
  opacity: 1;
  font-size: 2em;
  margin: 6px 6px 0 0;
}

#overlay-menu .nav a {
  color: #FFF;
  font-size: 1.2em;
  line-height: 1.6em;
}

#overlay-menu .header {
}

#overlay-nav li {
  border-bottom: 1px dashed #FFF;
}

#overlay-menu .nav li a {
  padding-left: 0;
}

#overlay-menu .navbar {
  width: 100%;
  position: relative;
  bottom: 40px;
}

@media only screen and (min-width : 768px) {

  #overlay-menu {
    display: none !important;
  }

}

/****************************
 ******** TOP NAVBAR ********
 ****************************/

#top-navbar a.navbar-brand {
  font-weight: bold;
  font-size: .9em;
}

#top-navbar .navbar-toggle {
  border: 0 none;
}

#top-navbar .navbar-toggle .icon-bar {
  background-color: #000; 
}

#top-navbar .site-nav li:first-child {
  display:none;
}

#top-navbar .navbar-nav > .active > a,
#top-navbar .nav a.active {
  background-color: transparent;
}

#top-navbar .lang-selector {
  margin-right: 0;
}

#top-navbar .lang-selector > li:last-child > a {
  padding-right: 0;
}

@media only screen and (min-width : 768px) {
  #top-navbar.closed {
    top: -150px;
  }

  #top-navbar {
    opacity: 1;
    background-color: #FFF;

    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    overflow: hidden;
  }

  #top-navbar .site-nav,
  #top-navbar .navbar-brand {
    bottom: -55px;
    position: relative;    

    -moz-transition: all 400ms ease-out .3s;
    -o-transition: all 400ms ease-out .3s;
    -webkit-transition: all 400ms ease-out .3s;
    transition: all 400ms ease-out .3s;
  }
}

@media only screen and (max-width : 768px) {

  #top-navbar .lang-selector,
  #top-navbar .site-nav {
    display:none;
  }

}

/****************************
 ******** SITE NAV **********
 ****************************/

.site-nav > li.active a {
  font-weight: bold;
}

.site-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: 768px) {

  .site-nav > li:first-child > a {
    margin-left: -30px;
  }

}

/************************
 ******* MAIN NAV *******
 ************************/

@media only screen and (max-width : 970px) {


}

/**********************
 *** DETAILS VIEW *****
 **********************/

.details-view {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-top: 1px dashed #999;
}

.details-view .info h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.details-view .info p:first-child {
  margin-top: -0.3em;
}

@media only screen and (max-width : 768px) {

  .details-view {
    padding-top: 0;
    border-top: 0 none;
  }

  .details-view h4 {
    margin-top: 25px;
  }

  .details-view ul.links {
    list-style: none;
    padding-left: 0;
  }

  .details-view .team-grid .grid-item {
    width: 25%;
  }

  .details-view .site-nav {
    margin-bottom: 15px;
    margin-top: 10px;
  } 

  .details-view .tweets {
    display: none;
  }

}

/**********************
 ***** BASE GRID ******
 **********************/

.grid-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/**********************
 *** PROJECTS GRID ****
 **********************/

.projects-grid {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
  width: 100%;
}

.projects-grid .wrapper {
  position: relative;
}

.projects-grid .grid-item.alantu {
  /**
  width: 100%;
  **/
  padding-left: 10%;
}

.projects-grid .grid-item {
  width: 100%;
}

.projects-grid .grid-item {
  position: relative;
  /**
  width: 100%;
  **/
  margin-bottom: 10%;
  cursor: pointer;
}

.projects-grid .grid-item-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
  padding-top: 7%;
  height: 100%;
  visibility: hidden;
}


.projects-grid .grid-item.alantu:hover .grid-item-content {
  background-color: #DA5034;
}

.projects-grid .grid-item.ingame:hover .grid-item-content {
  background-color: #3642A4;
}

.projects-grid .grid-item.dift:hover .grid-item-content {
  background-color: #31A69B;
}

.projects-grid .grid-item:hover .grid-item-content {
  opacity: .8;
  visibility: visible;
}

.projects-grid h3 a {
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: .8em;
  line-height: 1.7em;
  color: #FFF;
  font-weight: bold;
}

.projects-grid p {
  color: #FFF;
  font-weight: bold;
  width: 50%;
  line-height: 1.5em;
}

.projects-grid .grid-item.alantu .grid-item-content  p {
  width: 80%;
}


.projects-grid h3 a:hover {
  text-decoration: none;
}

@media only screen and (max-width : 970px) {

  .projects-grid .grid-item-content {
    padding-top: 0;
  }
}

@media only screen and (max-width : 768px) {

  .projects-grid .grid-item-content,
  .projects-grid .grid-item-content p {
    margin: 0 auto;
  }

  .projects-grid p {
    width: 80%;
  }
}

@media only screen and (max-width : 560px) {

  .projects-grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .projects-grid .grid-item.alantu {
    padding-left: 0;
  }

  .projects-grid .grid-item-content {
    visibility: hidden;
  }

  .projects-grid .grid-item {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

/**************************
 ******* TEAM GRID ********
 **************************/

.team-grid {
  width: 100%;
}

.team-grid .grid-item {
  float: left;
  padding: 0;
  margin-right: 3%;
  margin-bottom: 3%;
}

.team-grid .grid-item .wrapper {
  position: relative;
}

.team-grid .grid-item .grid-item-content {
  padding-left: 20px;
  position: absolute; 
  bottom: 0;
  display: none;
}

.team-grid .grid-item:hover .grid-item-content {
  display: block;
}

.team-grid .grid-item h4 {
  color: #FFF;
  margin: 35px 0px 15px;
}

.team-grid .grid-item ul {
  padding-left:0;
  list-style: none; 
  text-align: left;
}

.team-grid .grid-item ul,
.team-grid .grid-item ul a {
  font-size: .8em; 
  color: #fff;
}

.team-grid .grid-item img {
  border-left: 35px solid #333; 
}

.team-grid .grid-item p,
.team-grid .grid-item h4 {
  color: #fff;
  text-align: left;
}

@media only screen and (max-width : 768px) {
  .team-grid .grid-item .grid-item-content {
    display: block;
  }
}

@media only screen and (min-width : 970px) {
  .team-grid .grid-item {
    width: 31.33%;
  }

  .team-grid .grid-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width : 970px) and (min-width: 550px) {


  .team-grid .grid-item {
    width: 48.5%;
  }

  .team-grid .grid-item:nth-child(2n) {
    margin-right: 0;
  }

}

@media only screen and (max-width : 550px) {

  .team-grid .grid-item {
    width: 100%;
    margin-bottom: 7%;
  }

}

@media only screen and (max-width : 450px) {

  .team-grid .grid-item {
  }

}

/***************************
 ****** LANG SELECTOR ******
 ***************************/

#header .lang-selector {
  float: right;
}

#header .lang-selector > li:last-child > a {
  padding-right: 0;
}

.lang-selector {
  margin-bottom: 0;
}

.lang-selector > li > a {
}

.lang-selector li:first-child {

}

@media only screen and (max-width : 768px) {

  .lang-selector li:first-child a {
    margin-left: 0;
  }

}

/**************************
 ****** DETAILS VIEW ******
 **************************/

.details-view h4 {
  margin-top: 65px;
  margin-bottom: 20px;
}

.details-view .wrapper {
  /**
  overflow: hidden;
  max-height: 332px;
  **/
}

.details-view.alantu .wrapper img {
  /**
  position: relative;
  bottom: 227px;
  **/
}

.details-view .site-nav {
  margin-bottom: 20px;
}

/**********************
 ****** FOOTER ********
 **********************/

.footer {
  border-top: 1px dashed #999;
  clear: both;
  padding: 20px 0;
  font-size: .9em;
}

.footer a {
  margin-left:10px;
  font-size: 1em;
}

.footer h4 {
  margin-bottom: 5px;
}

.footer p {
  margin: 10px 0;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer ul > li > a {
  margin-left: 0;
}


@media only screen and (max-width: 768px) {

  .footer h4 {
    margin-top: 35px;
  }

  .footer {
    margin-bottom: 20px;
  }

}

/**************************
 ****** SCREEN SIZES ******
 **************************/

@media only screen and (max-width : 768px) {
  body {
    text-align: center;
  }
}

/*****************************
 ********* TYPED JS **********
 *****************************/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
