body {
  font-family: "Courier", Helvetica, sans-serif;
  font-size: 15px;
  padding-top: 50px;
}

h1 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 30px;
}

p {
  line-height: 1.7em;
}

a {
  font-size: .9em;
}

footer {
  text-align: center;
  padding: 120px 0 20px;
}

footer a {
  margin-left:10px;
}

#main-wrapper {
  padding-left: 26px;
}

#main-nav {
  margin-top: 30px;
  margin-bottom: 70px;
}

.lang-selector {
  float: right;
}

img {
  width: 100%;
}

/****************************
 **** OVERRIDE BOOTSTRAP ****
 ****************************/

a, a:active, a:hover, a:focus {
  color: #333;
}

.nav {
  margin-left: -14px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.nav-pills>li>a {
  color: #333;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #333;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 0;
}

/**********************
 ***** BASE GRID ******
 **********************/

.grid-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/**********************
 *** PROJECTS GRID ****
 **********************/

.projects-grid {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  /**
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  **/
  width: 100%;
}

.projects-grid .grid-item {
  position: relative;
  width: 100%;
  margin-bottom: 3%;
}

.projects-grid .grid-item-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3%;
  padding-top: 2%;
  height: 100%;
  visibility: hidden;
}

.projects-grid .grid-item:active .grid-item-content,
.projects-grid .grid-item:hover .grid-item-content {
  background-color: #FFF;
  opacity: .8;
  visibility: visible;
}

.projects-grid h3 a {
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: .8em;
  line-height: 1.7em;
  background-color: #282828;
  color: #FFF;
  font-weight: bold;
  padding: 6px 10px;
}

.projects-grid h3 a:hover {
  text-decoration: none;
}

@media only screen and (max-width : 600px) {

  .projects-grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

}

/**************************
 ******* TEAM GRID ********
 **************************/

.team-grid {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
  width: 100%;
  -moz-column-gap: 1%;
  -webkit-column-gap: 1%;
  column-gap: 1%;
}

.team-grid .grid-item {
  width: 93%;

}

@media only screen and (max-width : 970px) {

  .team-grid {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

}

@media only screen and (max-width : 600px) {
  .team-grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

}

/***************************
 ****** LANG SELECTOR ******
 ***************************/

.lang-selector a {

}

.lang-selector a.active {
  text-decoration: underline;
}

@media only screen and (max-width : 970px) {

  .lang-selector {
    float: none;
    padding: 0;
  }

}

/**************************
 ****** DETAILS VIEW ******
 **************************/

.details-view h4 {
  margin-top: 65px;
  margin-bottom: 20px;
}

/**************************
 ****** MEDIA LIST ********
 **************************/

@media only screen and (max-width: 970px) {
  .media-list {
    display: table;
    margin: 0 auto;
  }
}

.media-list .media-item {
  float:left;
  display: inline-block;
  margin-left: 10px;
}

/**************************
 ****** SCREEN SIZES ******
 **************************/

@media only screen and (max-width : 970px) {

  body {
    text-align: center;
  }

  .details-view h4 {
    margin-top: 25px;
  }

  .details-view ul.links {
    list-style: none;
    padding-left: 0;
  }

  .details-view .team-grid .grid-item {
    width: 25%;
  }

  #main-nav {
    margin-bottom: 35px;
  }

  #main-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
  }

  #main-wrapper {
    padding-left: 0;
  }
}

